@keyframes openBox {
	from {transform:scale(0.0);}
	to {transform:scale(1.0);}
}

#box1 {
	width: 400px;
	height: 400px;
	background-color: red;
	z-index: 0;
}

#box2 {
	width: 200px;
	height: 200px;
	background-color: blue;
	position: absolute;
	z-index: -1;
	top: 100px;
	left: 100px;
	animation-timing-function: ease;
}

#btn1 {
	width: 100px;
	height: 40px;
	background-color: gray;
	position: absolute;
	top: 430px;
}

#btn2 {
	width: 100px;
	height: 40px;
	background-color: gray;
	position: relative;
	top: 80px;
	left: 50px
}